@model Vidly.Models.Customer
@{
    ViewBag.Title = "GetCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br /> 

<h2>@Model.Name</h2>
@if (Model.Birthdate.HasValue)
{
    <h4>Birthdate: @Model.Birthdate.Value.ToShortDateString()</h4>
}
<br>
<br>
<h6>Membership Type: @Model.MenbershipType.Name</h6>
<h6>Discount Rate: @Model.MenbershipType.DiscountRate %</h6>

